In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/niteen11/DataAnalyticsAcademy/master/Python/dataset_diabetes/diabetic_data.csv')

In [11]:
column_names = df.columns.tolist()
column_names

['encounter_id',
 'patient_nbr',
 'race',
 'gender',
 'age',
 'weight',
 'admission_type_id',
 'discharge_disposition_id',
 'admission_source_id',
 'time_in_hospital',
 'payer_code',
 'medical_specialty',
 'num_lab_procedures',
 'num_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'number_inpatient',
 'diag_1',
 'diag_2',
 'diag_3',
 'number_diagnoses',
 'max_glu_serum',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'acetohexamide',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'troglitazone',
 'tolazamide',
 'examide',
 'citoglipton',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'glimepiride-pioglitazone',
 'metformin-rosiglitazone',
 'metformin-pioglitazone',
 'change',
 'diabetesMed',
 'readmitted']

In [36]:
df

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,0,?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,10,?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,20,?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,30,?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,40,?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,70,?,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,80,?,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,70,?,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,80,?,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,70,?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [ ]:
check = df.isnull().sum()
check

In [16]:
selected_columns = df[['age', 'gender', 'num_lab_procedures', 'num_medications', 'time_in_hospital']]

In [18]:
df['age'] = df['age'].str.extract(r'(\d+)').astype(int)

filtered_data = df[(df['age'] > 50) & (df['num_medications'] > 10)]

In [23]:
avg_lab_procedures = df['num_lab_procedures'].mean()
avg_medications = df['num_medications'].mean()
gender_grouped = df.groupby('gender')['num_lab_procedures'].mean()

gender_grouped

gender
Female             43.151769
Male               43.030964
Unknown/Invalid    34.000000
Name: num_lab_procedures, dtype: float64

In [21]:
crosstab_data = pd.crosstab(df['gender'], df['change'])

In [22]:
crosstab_data

change              Ch     No
gender
Female           24896  29812
Male             22113  24942
Unknown/Invalid      2      1

In [38]:
import pandas as pd

def hospital_visits_difference_by_race_and_age(dataframe):
    # Filter out rows with missing 'age' or 'time_in_hospital' values
    filtered_df = dataframe.dropna(subset=['age', 'time_in_hospital'])

    # Group the data by 'race' and 'age', and calculate the difference in hospital visits within each group
    grouped = filtered_df.groupby(['race', 'age'])['time_in_hospital'].apply(lambda x: x.max() - x.min())

    return grouped

# Example usage:
# Assuming you have a pandas DataFrame called 'df'
hospital_visits_diff = hospital_visits_difference_by_race_and_age(df)
print(hospital_visits_diff)

race             age
?                0       0
                 10      3
                 20     13
                 30     13
                 40     13
                 50     13
                 60     13
                 70     13
                 80     13
                 90     12
AfricanAmerican  0       7
                 10     12
                 20     13
                 30     13
                 40     13
                 50     13
                 60     13
                 70     13
                 80     13
                 90     13
Asian            0       3
                 10      0
                 20      3
                 30      8
                 40     10
                 50     13
                 60     13
                 70     13
                 80     13
                 90     12
Caucasian        0       6
                 10     13
                 20     13
                 30     13
                 40     13
                 50     13
                 60     13
                 70     13
                 80     13
                 90     13
Hispanic         0       1
                 10     11
                 20      9
                 30     13
                 40     13
                 50     13
                 60     13
                 70     13
                 80     13
                 90     13
Other            0       2
                 10      4
                 20      9
                 30     11
                 40     13
                 50     13
                 60     13
                 70     13
                 80     13
                 90      9
Name: time_in_hospital, dtype: int64